/*!*Starting off*!*/
/** {*/
/*    box-sizing: border-box;*/
/*}*/

/*!*for the header section*!*/
/*.center-header {*/
/*    text-align: center;*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*}*/

/*DAY 1 - Expanding Cards*/
.panel-expandcard-img1 {
    background-image: url("/expanding-cards-imgs/butterfly-flower.jpg");
}

.panel-expandcard-img2 {
    background-image: url("/expanding-cards-imgs/pink-flowers.jpg");
}

.panel-expandcard-img3 {
    background-image: url("/expanding-cards-imgs/purple-flowers.jpg");
}

.panel-expandcard-img4 {
    background-image: url("/expanding-cards-imgs/sunflower.jpg");
}

.panel-expandcard-img5 {
    background-image: url("/expanding-cards-imgs/white-and-Pink-Petaled Flowers .jpg");
}

.container-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container-5{
    display: flex;
    width: 90vw;
}

.panel {
    position: relative; /* Add this line to create a new positioning context */
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 1;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
}


@media (max-width: 480px) {
    .container-4{
        width: 100vw;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5){
        display: none;
    }
}